{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Admin{% endblock %}

{% block body %}


    {% for message in app.session.flashbag.get('notif') %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center alert-info">
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    <h1 class="text-center">Liste des utilisateurs</h1>
    <br/>
    <form id="form_recherche" method="post" action="{{ path('apa_platform_adminListe') }}">
            <div class="input-group">
                <input type="text" class="form-control text-center" id="search" name="search" placeholder="Cherchez par nom , prenom ...">
                <div class="input-group-btn">
                    <input type="submit" class="btn btn-sm btn-secondary" value="Recherchez">
                </div>
            </div>
    </form>

    <div id="resultats_recherche">
        <table class="table table-hover table-sm table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th class="text-center">Groupe</th>
                    <th class="text-right">
                        <div class="btn-group">
                            <button class="btn btn-secondary" onclick="prev()"> &emsp; <- &emsp; </button>
                            <button class="btn btn-secondary" onclick="next()"> &emsp; -> &emsp; </button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if listUser is defined %}
                    {% for list in listUser %}
                        {% if list.roles != isAdmin %}
                            <tr class="{% if list.roles == isProf %}table-success{% endif %} tableItem" style="display:none;">
                                <td>
                                    <strong>{{ list.nom }}</strong>
                                </td>
                                <td>{{ list.prenom }}</td>
                                <td class="text-center">
                                {% if list.groupe is null %}
                                    {{ list.roles|join }}
                                {% else  %}
                                    {{ list.groupe }}
                                {% endif %}
                                </td>
                                <td class="text-right">
                                    <div class="btn-group-sm">
                                        <a href="{{ path('apa_platform_editUser' , {'id': list.id}) }}"> <button class="btn btn-sm"> Modifier </button> </a>
                                        <a href="{{ path('apa_platform_deleteUser' , {'id': list.id}) }}"> <button class="btn btn-danger btn-sm"> Supprimer </button> </a>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if listUsers is defined %}
                    {% include 'APAPlatformBundle:Admin:listuser.html.twig' %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <script>
        // AJAX SEARCH FILTER

        $(".loading").hide(); // Hides loading icon

        // This function is called when the user inputs a letter in the search field
        $("#search").keyup(function(){

            // Gets the value of the search field
            var motcle = $("#search").val();

            // If the value is greater than x characters
            if (motcle.length>=5){

                // Dislpays the loading icon
                $(".loading").show();

                // Sends the search field value
                var DATA = 'motcle=' + motcle;
                $.ajax({
                    // Sets the request to POST
                    type: "POST",
                    // The request is sent to adminListe
                    url: "{{ path('apa_platform_adminListe')}}",
                    // Includes DATA
                    data: DATA,
                    cache: false,
                    // Returns the value in the "#resultats_recherche" div
                    success: function(data){
                        $('#resultats_recherche').html(data);
                        $(".loading").hide();
                    }
                });
            return false;
            }
        });
</script>
{% endblock %}

{% block scripts %}

    {{ parent() }}

    <script type="text/javascript">

        // Slider

        var listStart = 0;
        var listEnd = 9;
        var items = document.getElementsByClassName("tableItem");

        // First, we display the first 10 files
        for (i = 0; i <= listEnd; i++){
            items[i].style.display = "table-row";
        }

        // the following functions are called by the previous and next buttons.
        function next(){
            if (listEnd < items.length)
            {
                console.log("NEXT");
                console.log("Hiding current list...")
                for (i = listStart; i <= listEnd; i++){
                    console.log("Hiding item at index: " + i);
                    items[i].style.display = "none";
                }
                listStart += 10;
                listEnd += 10;
                console.log("List start: " + listStart + " end: " + listEnd);
                console.log("Displaying new list...");
                for (i = listStart; i <= listEnd && i < items.length; i++){
                    console.log("Displaying item at index: " + i);
                    items[i].style.display = "table-row";
                }
                console.log("END OF NEXT");
            }
        }

        function prev(){
            if (listStart > 0)
            {
                console.log("PREV");
                console.log("Hiding current list...");
                for (i = listStart; i <= listEnd && i < items.length; i++){
                    console.log("Hiding item at index: " + i);
                    items[i].style.display = "none";
                }
                listStart -= 10;
                listEnd -= 10;
                console.log("List start: " + listStart + " end: " + listEnd);
                console.log("Displaying new list...");
                for (i = listStart; i <= listEnd; i++){
                    console.log("Displaying item at index: " + i);
                    items[i].style.display = "table-row";
                }
                console.log("END OF PREV");
            }
        }

        console.log(items.length);
    </script>

{% endblock %}
