<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}APANice{% endblock %}</title>

        {% block bootstrap %}
            <link rel="stylesheet" type="text/css" href="{{asset("bootstrap/css/bootstrap.min.css")}}">
						<link rel="stylesheet" type="text/css" href="{{asset("bootstrap/css/tableau_de_bord.css")}}">
						<link rel="stylesheet" type="text/css" href="{{asset("bootstrap/css/menu.css")}}">
						<script type="text/javascript" src="{{asset("jquery.js")}}"></script>
            <script type="text/javascript" src="{{asset("bootstrap/js/bootstrap.min.js")}}"></script>  
        {% endblock %}
    </head>

<body>

    {#  HEADER  #}
    <div class="container-fluid">
        <div class="row"  style="background-color:#337ab7;">
					<div class="col-md-3 ">
					 <h4><span class="badge badge-info" style="margin-top: 5px">
                    Bonjour, {{ app.user.username }}
                </span></h4>
							 </div>
            <div class="offset-6 col-md-3" style="text-align: center">
                
                <a href="{{path('logout')}}" class="btn btn-danger">Déconnection</a>

            </div>
        </div>
    </div>
    {#  FIN HEADER  #}


    <div class="container-fluid">

        <div class="row">
			
            {#  SIDEBAR  #}
					
			{% if is_granted('ROLE_ADMIN') %}
					
					<div class="left">
						
						<div class="">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</div>
				
				<a href="{{path('apa_platform_index')}}">
					<div class="item active">
						<span class="glyphicon glyphicon-th-list"></span>
							Acceuil
					</div>
				</a>
						
				<a href="{{path('apa_platform_adminIndex')}}">
					<div class="item">
						<span class="glyphicon glyphicon-log-out"></span>
							Admin
					</div>
				</a>
						
						<div class="item">
							<span class="glyphicon glyphicon-log-in"></span>
							User
						</div> 
						
				<a href="{{path('apa_platform_addUser')}}">
					<div class="item">
						<span class="glyphicon glyphicon-random"></span>
							Ajoutez un utilisateur
					</div>
				</a>
						
						<div class="item">
							<span class="glyphicon glyphicon-remove"></span>
							...
						</div> 
						
					</div>

       {% endif %}  
					
            {#  FIN SIDEBAR  #}

            {#  BODY  #}
            <div id="content" class="col-md-10">

                {% block body %}
                {% endblock %}

            </div>
            {#  FIN BODY  #}

        </div>

    </div>

</body>

</html>
