{# This is the main layout. It is inherited by all the other twigs #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}APANice{% endblock %}</title>

        {% block bootstrap %}
            <link rel="stylesheet" type="text/css" href="{{asset("bootstrap/css/bootstrap.min.css")}}">
						<link rel="stylesheet" type="text/css" href="{{asset("bootstrap/css/tableau_de_bord.css")}}">
						<link rel="stylesheet" type="text/css" href="{{asset("bootstrap/css/menu.css")}}">
						<script type="text/javascript" src="{{asset("jquery.js")}}"></script>
            <script type="text/javascript" src="{{asset("bootstrap/js/bootstrap.min.js")}}"></script>
        {% endblock %}

        {% block stylesheets %}
         <link rel="stylesheet" type="text/css" href="{{asset("bootstrap/css/menu-icons.css")}}">
        {% endblock %}
    </head>

<body>

    {#  HEADER  #}
    <div class="container-fluid">
        <div class="row"  style="background-color:#091D42;">
					<div class="col-md-3 ">
					 <h5><span class="badge badge-info" style="margin-top: 5px; background-color:rgba(42, 75, 164, 0.6);">
                    Bonjour, {{ app.user.username }}
                </span></h5>
							 </div>
            <div class="offset-6 col-md-3" style="text-align: center">

                <a href="{{path('logout')}}" class="btn btn-danger">Déconnexion</a>

            </div>
        </div>
    </div>
    {#  END OF HEADER  #}


    <div class="container-fluid">

        <div class="row">

            {#  SIDEBAR  #}

			{% if is_granted('ROLE_ADMIN') %}

					{{ render(controller("APAPlatformBundle:Admin:Menu"))}}

			{% endif %}

			{% if is_granted('ROLE_USER') %}

					{{ render(controller("APAPlatformBundle:User:Menu"))}}

			{% endif %}

            {#  END OF SIDEBAR  #}

            {#  BODY  #}
            <div id="content" class="col-md-10" style="padding:0;">

                {% block body %}
                {% endblock %}

            </div>
            {#  END OF BODY  #}

        </div>

    </div>

</body>

</html>
