{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }} - Réception {% endblock %}

{% block body %}

    <a class="link-inverse" href="{{path('apa_message_listUsers')}}"><< Voir la liste du groupe</a>

    <h2 class="text-center"> Conversations récentes </h2>

    <table class="table table-striped table-sm">
        <thead>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>

            {% for message in listMessage %}

                <tr>

                    <td>
                        <p>De: <strong>{{message.author}}</strong></p>
                        <em>{{message.date|date('d/m/Y')}} à {{message.date|date('h:i')}}</em>
                    </td>


                    <td>
                        <p> {{message.content}} </p>
                    <td>

                    <td class="text-center btn-group-sm">
                        <a class="btn btn-sm btn-primary" href="{{path('apa_message_sendMessage', {'id':message.sender.id})}}">Répondre</a>
                    <td>

                </tr>

            {% endfor %}
        </tbody>
    </table>

        {% if listMessage is empty %}

            <div class="col-md-4 offset-4 text-center">Aucun message.</div>

        {% endif %}


{% endblock %}
