{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }} - Contacts {% endblock %}

{% block body %}

    <h2 class="text-center"> Réception </h2>

    <div class="container-fluid" id="Contacts">
        <div class="row">
        <div class="col-md-6">

            <h4 class="text-center"> Liste du groupe </h4>

            <ul class="list list-unstyled">

                {% for user in listUsers %}
                    {% if user.roles[0] != "ROLE_PROF" %}
                        <li>
                            <a href="{{ path("apa_message_sendMessage", {'id': user.id}) }}">{{ user.nom }} {{ user.prenom}}</a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>

        </div>

        <div class="col-md-6">

            <h4 class="text-center"> Professeurs </h4>

            <ul class="list list-unstyled">

                {% for user in listUsers %}
                    {% if user.roles[0] == "ROLE_PROF" %}
                        <li>
                            <a href="{{ path("apa_message_sendMessage", {'id': user.id}) }}">{{ user.nom }} {{ user.prenom}}</a>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>

        </div>
        </div>
    </div>

    <div class="container-fluid" id="Messages">

        <table class="table table-sm table-responsive">

            <thead>
                <tr>
                    <th>Date</th>
                    <th>Auteur</th>
                    <th class="text-right">

                        <div class="btn-group">

                            <button class="btn btn-secondary" onclick="prev();"><- Page précédente</button>
                            <button class="btn btn-secondary" onclick="next();">Page Suivante -></button>

                        </div>

                    </th>
                </tr>
            </thead>
            <tbody>

                {% for message in latestMessages %}

                    <tr class="message" style="display:none;">
                        <td>{{message.date|date('d/m/Y H:i:s')}}</td>
                        <td>{{message.author}}</td>
                        <td>{{message.content}}</td>
                    </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

{% endblock %}

{% block style %}

    {{ parent() }}

    <style type="text/css">
        #Contacts{
            background-color: snow;
            margin-top: 30px;
            border-top: 1px solid lightblue;
            border-bottom: 1px solid lightblue;
        }
        #Messages{

        }
    </style>

{% endblock %}

{% block scripts %}

    {{ parent() }}

    <script type="text/javascript">

        // Slider

        var listStart = 0;
        var listEnd = 9;
        var items = document.getElementsByClassName("message");

        // First, we display the first 10 items
        for (i = 0; i <= listEnd; i++){
            items[i].style.display = "table-row";
        }

        // the following functions are called by the previous and next buttons.
        function next(){
            if (listEnd < items.length)
            {
                console.log("NEXT");
                console.log("Hiding current list...")
                for (i = listStart; i <= listEnd; i++){
                    console.log("Hinding item at index: " + i);
                    items[i].style.display = "none";
                }
                listStart += 10;
                listEnd += 10;
                console.log("List start: " + listStart + " end: " + listEnd);
                console.log("Displaying new list...");
                for (i = listStart; i <= listEnd && i < items.length; i++){
                    console.log("Displaying item at index: " + i);
                    items[i].style.display = "table-row";
                }
                console.log("END OF NEXT");
            }
        }

        function prev(){
            if (listStart > 0)
            {
                console.log("PREV");
                console.log("Hiding current list...");
                for (i = listStart; i <= listEnd && i < items.length; i++){
                    console.log("Hiding item at index: " + i);
                    items[i].style.display = "none";
                }
                listStart -= 10;
                listEnd -= 10;
                console.log("List start: " + listStart + " end: " + listEnd);
                console.log("Displaying new list...");
                for (i = listStart; i <= listEnd; i++){
                    console.log("Displaying item at index: " + i);
                    items[i].style.display = "table-row";
                }
                console.log("END OF PREV");
            }
        }

        console.log(items.length);
    </script>

{% endblock %}
