{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }} - Envoi d'un message {% endblock %}

{% block body %}

    <h4>Conversation avec {{targetUser.nom}} {{targetUser.prenom}}</h4>

    <ul class="list-unstyled">
    {% for message in convo %}
        <li><strong>{{message.author}}: </strong>{{message.content}}</li>
    {% endfor %}
    </ul>

    {{ form(form) }}

{% endblock %}
