{% extends "::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row" id="mobileRight">
            <div class="col-md-12">
                <a href="#">
                    <img src="{{asset("img/settingsYellow.png")}}"/>
                    <p>Enregistrement d'une séance</p>
                </a>
            </div>
        </div>

    <div class="row">
        <div class="page">
            <div class="metr">
                <section id="middle">

                    <article class="middleArticle">
                        <div class="bigButton">
                            <a href="{{ path("apa_platform_userFichiers", {'category': 'sante'}) }}">
                                <img class="pdf" src="{{asset("img/filesBlue.png")}}"/>
                                <p class="middle text">Dossiers et fichiers</p>
                            </a>
                        </div>
                    </article class="middleArticle">
                    <article>
                        <div class="bigButton">
                            <a href="{{ path("apa_platform_userFiche") }}">
                                <img class="utilisateur" src="{{asset("img/userBlue.png")}}"/>
                                <p class="middle text">Ma fiche</p>
                            </a>
                        </div>
                    </article>
                    <article class="middleArticle">
                        <div class="bigButton">
                            <a href="{{path('apa_message_inbox')}}">
                                <img class="message" src="{{asset("img/messageBlue.png")}}"/>
                                <p class="middle text">Messages</p>
                            </a>
                        </div>
                    </article>
                    <article class="middleArticle">
                        <div class="bigButton">
                            <a href="{{ path("apa_platform_staff") }}">
                                <img class="equipe" src="{{asset("img/teamBlue.png")}}"/>
                                <p class="middle text">Equipe et contacts</p>
                            </a>
                        </div>
                    </article>

                </section>

                <section id="right">

                    <article>
                        <div>
                            <a href="#">
                                <img class="settings1" src="{{asset("img/settingsYellow.png")}}"/>
                                <p>Enregistrement d'une séance</p>
                            </a>
                        </div>
                    </article>
                </section>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block style %}

                {{ parent() }}

                <style type="text/css">
                    .menuAccueil{
                        background-color: grey;
                    }

                    @font-face {
                        /* Définition d'une nouvelle police nommée world of water*/
                        font-family: 'world of water';
                        src: url('world of water.ttf');
                    }

                    .metr p {
                        font-family: 'Verdana';
                    }

                    .container {
                        width: 100%;
                        height: 100%;
                    }

                    #middle a:hover{
                        background-color: #9AB4CB;
                    }

                    .settings1:hover {
                        background-color: lightblue;
                    }

                    #middle {
                        display: flex;
                        flex-wrap: wrap;
                        align-content: stretch;
                        width: 70%;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                    }

                    #middle article {
                        background-color:#F4F3F2;
                        border: 1px solid grey;
                        width: 50%;
                        display: flex;
                        min-height:47vh;
                    }

                    #middle article div {
                        margin: auto;
                        text-align: center;
                        display: flex;
                    }

                    #middle article img {
                        width: 50%;
                        height: auto;
                    }

                    #middle article p {
                        margin-top: 35px;
                        color: #091D42;
                    }

                    #mobileRight {
                        max-height: 25vh;
                        border: 1px solid grey;
                        text-align: center;
                    }
                    #mobileRight img {
                        height: 50%;
                        width: auto;
                    }
                    #mobileRight p {
                        color: #091D42;
                    }

                    #right {
                        display: flex;
                        flex: 1;
                        background-color: #F4F3F2;
                        border: 1px solid rgba(57, 106, 146, 0.3);
                        height: 94vh;
                    }

                    #right article {
                        margin: auto;
                    }

                    #right article div {
                        text-align: center;
                    }

                    #right article .settings1 {
                        width: 50%;
                        height: auto;
                    }

                    #right article p {
                        color: black;
                    }

                    #right ul {
                        padding: 0;
                    }

                    #right p,
                    ul {
                        margin-top: 35px;
                    }

                    @media only screen and (min-width: 769px){
                        #mobileRight{
                            display: none;
                        }
                    }

                    /* MOBILE */

                    @media only screen and (max-width: 769px){

                        #right {
                            display: none;
                        }
                        #middle{
                            width: 100%;
                        }
                        #middle article{
                            min-height: 34vh;
                        }
                        #middle article:nth-child(3){
                            border-bottom: none;
                        }
                        #middle article:nth-child(4){
                            border-bottom: none;
                        }

                    }

                </style>
                {% endblock %}

