        <div class="col-md-2" style="background-color:#091D42;">

            <div class="">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>

            <a href="#">

                <div class="item active">


                    <img class="tab1"src="{{asset("img/tabor.png")}}"/>
                    <p>Accueil</p>
                    </div>
            </a>

            <a href="#">
                <div class="item">

                    <img class="files"src="{{asset("img/files.png")}}"/>
                    <p class="doss">Dossiers</p>
                </div>
            </a>
                <a href="#">
                <div class="item">

                    <img class="team"src="{{asset("img/team.png")}}"/>
                    <p class="toget">Équipe</p>
                </div>
                </a>

            <a href="{{path('apa_message_listUsers')}}">
                <div class="item">

                    <img class="mess"src="{{asset("img/message.png")}}"/>
                    <p>Messages</p>
                </div>
            </a>

            <a href="#">
            <div class="item">
                    <img class="pagem"src="{{asset("img/user.png")}}"/>
                    <p>Ma fiche</p>
            </div>
             </a>

            <a href="#">
            <div class="item">

                    <img class="settings"src="{{asset("img/settings.png")}}"/>
                    <p>Paramètres</p>
            </div>
            </a>
        </div>
