<div class="col-md-2" id="menu">

    <a href="{{path('apa_platform_userIndex')}}">
        <div class="item active menuAccueil">
            <img class="tab1"src="{{asset("img/taborGrey.png")}}"/>
            <p><strong>Accueil</strong></p>
        </div>
    </a>

    <a href="{{path('apa_platform_userFichiers', {'category': 'sante'})}}">
        <div class="item menuDossiers">
            <img class="files"src="{{asset("img/filesGrey.png")}}"/>
            <p class="doss">Fichiers</p>
        </div>
    </a>

    <a href="{{path('apa_message_inbox')}}">
        <div class="item menuMessage">
            <img class="mess"src="{{asset("img/messageGrey.png")}}"/>
            <p>Messages</p>
        </div>
    </a>

    <a href="{{path('apa_platform_userFiche')}}">
        <div class="item menuFiche">
            <img class="pagem"src="{{asset("img/userGrey.png")}}"/>
            <p>Ma fiche</p>
        </div>
    </a>


    <a href="{{path('apa_platform_staff')}}">
        <div class="item menuEquipe">
            <img class="team"src="{{asset("img/teamGrey.png")}}"/>
            <p class="toget">Équipe</p>
        </div>
    </a>

    <a href="{{path('apa_platform_settings')}}">
        <div class="item menuParametres">
            <img class="settings"src="{{asset("img/settingsGrey.png")}}"/>
            <p class="param">Paramètres</p>
        </div>
    </a>
</div>
