<div class="container">
	<div class="row">
	  <div class="page">
                        <div class="metr">

												<section id="middle">


												<article><div><a href="#"><img class="pdf"src="{{asset("img/files.png")}}"/><p class="middle text">Dossiers et fichiers</p></a></div></article>
												<article><div><a href="#"><img class="equipe"src="{{asset("img/team.png")}}"/><p class="middle text">Équipe</p></a></div></article>
												<article><div><a href="{{path('apa_message_inbox')}}"><img class="message"src="{{asset("img/message.png")}}"/><p class="middle text">Message</p></a></div></article>
												<article><div><a href="#"><img class="utilisateur"src="{{asset("img/user.png")}}"/><p class="middle text">Ma fiche</p></a></div></article>

												</section>

												<section id="right">

												<article><div><a href="#"><img class="settings"src="{{asset("img/settings1.png")}}"/><p>Paramètres</p></a></div>
												<br />
												<br />
												<br />
												<ul>
												<li class="parameters">Général</li>
												<li class="parameters">Personnalisation</li>
												<li class="parameters">Autres</li>
												</ul>
												</article>

												</section>


												<style type="text/css">

												.container {
												  width:100%;
												  height:100%;
                         }

									     .pdf:hover, .equipe:hover , .message:hover , .utilisateur:hover  {
									       background-color:#9AB4CB;
									       opacity:0.8;
                         }

											 .settings:hover {
                          background-color:#396A92;
													opacity:0.5;
													}

												#middle {
												 display:flex;
												 flex-wrap: wrap;
												 align-content: stretch;
												 width:70%;
												 height:100%;
												 padding:0;
												 margin:0;
												}

												#middle article {
												  background-color: #9AB4CB;
												  border: 1px solid  rgba(57,106,146,0.3);
												  width:50%;
												  display:flex;


												}

												#middle article div {
												 margin:auto;
												 text-align:center;
												}

												#middle article img {
												 width:50%;
												 height:auto;
												 margin-left:20px;
												}

												#middle article p {

												margin-top:35px;
												margin-left:20px;
												color: #091D42;

												}

												#right {
												 display: flex;
												 flex:1;
												 background-color: #396A92;
												 border: 1px solid  rgba(57,106,146,0.3);
												 height:100%;

												}

												#right article {


												}



												#right article .settings {
												 width:30%;
												 height:auto;
												 margin-top:100px;
												 margin-left:115px;
												}



												#right article p {

											padding-top:210px;
												text-align:center;
                        margin-left:20px;
												color:white;

												}

												.parameters {

												 margin-right:20px;
												 text-align:center;
												 text-decoration:underline;
												 list-style-type:none;
												 color:white;
												}

               </div>
	</div>
</div>
