<div class="container">
	<div class="row">
	  <div class="page">
                        <div class="metr">

                         <a class="metrostyle eenmetro" style="cursor: pointer" href="#">

                             <img style="tabor"src="{{asset("img/files.png")}}"/>
                             <span style="color: black; float: left; margin-top: 6px; margin-left: 15px ;margin-right:50px"> Fichiers/dossiers</span>

                         </a>
                         <a style="cursor: pointer" class="metrostyle metrostylelarge  boometro" href="#">

                                <img style="tabor"src="{{asset("img/team.png")}}"/>
                                <span style="color:black;float:left;margin-top:4px;margin-left:50px;margin-right:180px">Équipe</span>
                            </a>
                         <a class="metrostyle reemetro" style="cursor: pointer" href="#">

														 <img style="tabor"src="{{asset("img/message.png")}}"/>
                             <span style="color: black; float: left; margin-top: 6px; margin-left: 38px;margin-right:80px">Messages </span>
                         </a>
                         <a class="metrostyle yoometro" style="cursor: pointer" href="#">

                             <img style="tabor"src="{{asset("img/user.png")}}"/>
                             <span style="color: black; float: left; margin-top: 6px; margin-left: 46px;">Ma fiche</span>
                         </a>

												 <a class="metrostyle orgmetro" style="cursor: pointer" href="#">

                             <img style="tabor"src="{{asset("img/settings.png")}}"/>
                             <span style="color: black; float: left; margin-top: 6px; margin-left: 36px;margin-right:80px">Paramètres</span>
                         </a>

               </div>
	</div>
</div>
