<!doctype html>

<html>

<head>
    <title>Nice Sport santé - Connexion</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
</head>

<body>

    <div class="container">
        <div class="row" id="pwd-container">

            <div class="col-md-4"></div>

            <div class="col-lg-4">

                <section class="login-form">

                    <form action="{{ path('login_check') }}" method="post" role="login">

                        <img src="{{asset("img/LogoNiceSportSante.png")}}" class="img-responsive" height="200" width="300" alt="" />

                        {% if error %}
                            <div class="alert alert-danger">Identifiants non reconnus.</div>
                        {% endif %}

                        <label for="username">Votre identifiant de connexion :</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Identifiant de connexion" />

                        <label for="password">Votre mot de passe :</label>
                        <input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe"/>

                        <div class="pwstrength_viewport_progress"></div>

                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Connexion" />

                    </form>

                </section>

            </div>

        </div>
    </div>
</body>

<style>
    .progress-bar {
        color: #333;
    }

    /*
    Reference:
    http://www.bootstrapzen.com/item/135/simple-login-form-logo/
    */

    * {
        -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
    }

    .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

body {
background: url({{asset('img/loginBackground.jpg')}}) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
    max-width: 100%;
	  height: auto;

	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}

.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}

</style>

</html>
